.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  background: #fff;
  padding: 40px 30px;
  border-radius: 10px; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  max-width: 600px; 
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: center; 
}

.text {
  color: #3c009d;
  font-size: 34px; 
  font-weight: 700;
}

.subtitle {
  font-size: 18px;
  color: #333; 
}


.inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px; 
  height: 50px; 
  background: #f9f9f9; 
  border-radius: 6px;
  padding: 0 12px;
}

.input input {
  flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #333;
  font-size: 16px;
  padding-left: 10px;
}


.submit-container {
  display: flex;
  justify-content: space-between; 
  gap: 10px;
  margin-top: 30px; 
}


.toLogin,
.toManager,
.toRegister {
  font-size: 18px;
  padding: 12px 24px; 
  border-radius: 6px;
  width: 150px;
  flex: 1;
  color: white;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toLogin {
  background-color: #3c009d; 
}

.toManager {
  background-color: #ce0512; 
}

.toRegister {
  background-color: #001dc1; 
}

.toLogin:hover {
  background-color: #32007f; 
}

.toManager:hover {
  background-color: #9f0410; 
}

.toRegister:hover {
  background-color: #25005a; 
}

.input.error input {
  border: 2px solid red;
}

.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
