.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 12.5%;
    background-color: #282C34;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#282C34; 
    color: white;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 18px; 
}

.sidebar button:hover {
    background-color: #0056b3;
}